@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Montserrat", sans-serif;;
}
header{
    background-color: #6F1A07;
}
header img{
    width: 150px;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 15px;
}

a{
    color: #6F1A07;
    text-decoration: none;
}
.imagen{
    width: 900px;
    border: 2px black;
    
}
main{
    text-align: center;
}
form{
    text-align: center;
}